.user-pw-button{
    -fx-background-radius: 10px;
}

.submit-button{
    -fx-background-color:linear-gradient(to bottom right, #1B9C85, #1B9C85);
    -fx-background-radius: 10px;
    -fx-font-weight: bold;
}

.mobilDisewa-button{
    -fx-background-color:linear-gradient(to bottom right, #146C94, #146C94);
    -fx-background-radius: 10px;
    -fx-font-weight: bold;
}

.white-bg{
    -fx-background-color:#fff;
    -fx-background-radius:8px;
}

.shadow{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.5), 6,0,0,0);
}

.detailMobil{
    -fx-background-color:linear-gradient(to bottom right, #146C94, #146C94);
    -fx-background-radius: 20px;
    -fx-font-weight: bold;
    -fx-font-size: 10px
}
.sewaMobil{
    -fx-background-color:linear-gradient(to bottom right, #1B9C85, #1B9C85);
    -fx-background-radius: 20px;
    -fx-font-weight: bold;
    -fx-font-size: 10px
}
.pict{
    -fx-background-color:linear-gradient(to bottom right, #146C94, #146C94);
    -fx-background-radius: 10px;
    -fx-font-weight: bold;
    -fx-font-size: 10px
}